root{
  /*var for row and col max from React, for now setting to a static 5*/
  --max-dimension: 5;
  --container-width: 98vw;
  --grid-gap: 2vh;
  --square-size: calc(var(--container-width) / var(--max-dimension));
}
header{
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: repeat(5, calc(var(--container-width) / 5))
}
#light-square-container{
  background: #888;
  width: var(--container-width);
  --container-height: 60vh;
  height: var(--container-height);
  
  display: grid;
  grid-template-rows: repeat(var(--max-dimension), var(--square-size));
  grid-template-columns: repeat(var(--max-dimension), var(--square-size));
  grid-gap: var(--grid-gap);
  justify-items: center;
  align-items: center;
  z-index: 0;
  
}
#light-square-container div{
  transition: 1s;
}

.light-square-on{
  background: #FFC9C9;
  background: radial-gradient(ellipse at center, #FFC9C9, #FF0101);;
  width: 75%;
  height: 75%;
  border-radius: 5%;
  opacity: 1;

}

.light-square-off{
  @extend .light-square-on;
  opacity: .3;
}
